nav{
    box-shadow: 0 3px 0 0 rgba(0,0,0,.25);
    background-color:white;
    height:60px;
    border-bottom: 1px solid gray;
}

#page {
    margin-top: 80px;
    color: #53605e;
}

#route-tabs{
    position:fixed;
    top: 60px;
    width: 100%;
    padding-top:20px;
    background-color:white;
    z-index: 9999;
}

#route-tab-content{
    padding-top: 70px;
}

.active a{
    text-decoration:underline;
    font-weight: bolder;
}

.flight {
    border: 1px solid #d7dddb;
    border-radius: 2px;
  

    margin:10px;
    padding:12px;

    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
}

a{
    color:blue !important;
    cursor:pointer !important;
}

.open-details{
    padding:5px 0;
}

.flight-details {
    background-color: #bdbdbd;
    
    border-top:1px solid black;
    display:none;
    padding: 30px;
}

.segment {
    background-color:white;
    border: 1px solid #d7dddb;
    border-collapse:collapse;
    padding: 10px;
    margin-bottom: 10px;
    padding-left:30px;
}